<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse text-white fixed-top" role="navigation">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarToggleMenu" aria-controls="navbarToggleMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" id="logo" href="/" role="navigation">
    Erin's HackerNews
  </a>
    <div class="collapse navbar-collapse" id="navbarToggleMenu">
    <ul class="nav navbar-nav mr-auto" role="navigation">
      <li class="nav-item active">
        <a class="nav-link" href="#">new <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">show</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">ask</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">jobs</a>
      </li>
    </ul>
    <ul class="nav navbar-nav" role="navigation">
      <li class="nav-item">
        <p>Built with <a class="nav-link" href="https://cli.angular.io/" target="_blank">Angular CLI</a></p>
      </li>
    </ul>
  </div>
</nav>
