<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse text-white fixed-top">
  <a class="navbar-brand" id="logo" href="/">
    Erin's HackerNews
  </a>
  <ul class="nav navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" href="#">new</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">show</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">ask</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">jobs</a>
    </li>
  </ul>
  <ul class="nav navbar-nav">
    <li class="nav-item">
      <p>Built with <a class="nav-link" href="https://cli.angular.io/" target="_blank">Angular CLI</a></p>
    </li>
  </ul>
</nav>
