<div class="mainContent">
  <div class="loading-section" *ngIf="!items">
    Loading your news here...
  </div>
  <div *ngIf="items" class="mainStory">
    <ol class="list-group" start="{{ listStart }}">
      <li *ngFor = "let item of items"
          class="list-group-item justify-content-between">
          <item [item]="item"></item>
      </li>
    </ol>
    <div class="prevNext">
      <a *ngIf = "listStart !==1" [routerLink]="['/'+storiesType, pageNum -1]" class="prev">
        < Prev
      </a> |
      <a *ngIf = "items.length === 30" [routerLink]="['/'+ storiesType, pageNum + 1]" class="More">
        More >
      </a>
    </div>
  </div>
</div>
