#commentTree {
  li {
    background: linear-gradient(to right,#f15b2a,#e80a89);
    background: -webkit-linear-gradient(left,#f15b2a,#e80a89);
    background: -o-linear-gradient(right,#f15b2a,#e80a89);
    color: white;

  }

}
